<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="opay" controller="YUCTS\Opay:Order" context="yuctsOpay"/>
  <route route_type="admin" route_prefix="opay" sub_name="orders" format="orders/:int&lt;transaction_id&gt;/" controller="YUCTS\Opay:Order" context="yuctsOpayOrders"/>
  <route route_type="admin" route_prefix="opay" sub_name="logs" format="logs/" controller="YUCTS\Opay:Order" action_prefix="Log" context="yuctsOpayLog"/>
  <route route_type="admin" route_prefix="opay" sub_name="test" format="test/" controller="YUCTS\Opay:Order" action_prefix="Test" context="yuctsOpayTest"/>
  <route route_type="public" route_prefix="opay-checkout" format=":str&lt;key&gt;/" controller="YUCTS\Opay:Checkout"/>
  <route route_type="public" route_prefix="opay-return" format=":str&lt;key&gt;/" controller="YUCTS\Opay:Result"/>
</routes>
